
<h1 style="text-align: center; font-weight: 700">{{title}}</h1>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Image</th>
        <th scope="col">Name</th>
        <th scope="col">Gender</th>
        <th scope="col">Email</th>
        <th scope="col">Phone </th>
        <th scope="col">Detail</th>
        <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
    {{#if isHasData}}
        {{#each userList}}
            <tr>
                <td>
                    <img WIDTH="35px" src={{this.ImageURL}} >
                </td>
                <td>{{this.Name}}</td>
                <td>{{this.Gender}}</td>
                <td>{{this.Email}}</td>
                <td>{{this.Phone}}</td>
                <td><a class="btn btn-primary" href="/user/{{this._id}}">Detail</a></td>
                <td>
                    <a class="btn btn-primary" href="/user/{{this._id}}/delete">Delete</a>
                </td>
            </tr>
        {{/each}}
    {{/if}}
    </tbody>
</table>

